{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Django Angular PT | Home{% endblock title %}

{% block home_link %}<li class="active"><a href="#">Home</a></li>{% endblock home_link %}

{% block angular_controllers %}
    <script type="application/javascript">
        var HelloController = function($scope) {
            $scope.name = 'Django Angular Project Template';
        };
    </script>
{% endblock angular_controllers %}

{% block content %}
    <div ng-controller="HelloController">
        Say Hello to: <input type="text" ng-model="name"/>
        {% verbatim %}
        <h1>Hello, {{ name }}!</h1>
        {% endverbatim %}
    </div>
{% endblock content %}
